# STM32CubeIDE build output
STM32CubeIDE/Debug/
STM32CubeIDE/Release/
Debug/
Release/

# Build files
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.su
*.cyclo

# Temp files
*.log
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db
